:root {
	--primary-color: #6c63ff;
	--secondary-color: #f9f7fe;
	--text-black: #272142;
	--text-soft: rgba(39, 33, 66, 0.7);
	--font-title: "Playfair Display", serif;
	--font-main: "Poppins", sans-serif;
}

body,
* {
	margin: 0;
	padding: 0;
	color: var(--text-black);
	box-sizing: border-box;
}

h1 {
	font-family: var(--font-title);
}

p {
	font-family: var(--font-main);
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
}

.custom-btn {
	background: var(--primary-color);
	color: white;
	padding: 15px 30px;
	border: none;
	border-radius: 4px;
	font-size: 18px;
	transition: all ease-in 0.1s;
	cursor: pointer;
}

.custom-btn-complementary {
	color: var(--primary-color);
	background-color: inherit;
	border: 1px solid var(--primary-color);
}

.custom-btn:hover {
	color: black;
}

.custom-btn-complementary:hover {
	background-color: var(--primary-color);
	color: white;
}
/* header navbar */
.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 5rem;
	padding-inline: 2rem;
}

.logo {
	display: flex;
	align-items: center;
}
.logo img {
	max-height: 40px;
	object-fit: cover;
}

.navbar ul {
	display: flex;
	align-items: center;
	gap: 20px;
	font-weight: 500;
}

.navbar ul li:hover,
.navbar ul li:first-child {
	color: var(--primary-color);
}

/* home page */
.header {
	background-color: var(--secondary-color);
	height: 90vh;
	padding: 20vh 20px;
	text-align: center;
}

.header p {
	font-size: 32px;
	font-weight: bold;
}

.header h1 {
	font-size: 68px;
	color: black;
	text-align: center;
	padding: 10px;
}

.header h2 {
	font-size: 22px;
	font-weight: normal;
	text-align: center;
	max-width: 100vw;
}

.projects h2 {
	text-align: center;
	font-weight: 500;
	font-size: 1rem;
	max-width: 80%;
	margin-inline: auto;
}

.project {
	padding: 50px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	gap: 30px;
}

.project .title {
	font-size: 64px;
	font-weight: bold;
	font-family: var(--font-title);
}

.project .description {
	color: var(--text-soft);
	line-height: 30px;
	font-weight: 500;
}

.project a {
	font-weight: 500;
}

/* about page */
.about-content {
	padding-right: 50px;
}

.about-content h1,
.work-content h1 {
	font-size: 64px;
	line-height: 80px;
	color: black;
}

.about-content h2 {
	font-size: 18px;
	line-height: 27px;
}

.about-content p {
	font-size: 16px;
	font-weight: 400;
	color: var(--text-soft);
	line-height: 36px;
}

/* work page */

.work-content h1 {
	font-size: 56px;
	line-height: 60px;
	color: black;
}

.work-content h3 {
	font-size: 24px;
	line-height: 36px;
	color: black;
	font-weight: bold;
}

.work-content p {
	color: var(--text-soft);
	font-size: 14px;
}

/* contact page */

.contact-content h1 {
	font-size: 64px;
}

@media (max-width: 992px) {
	.custom-btn {
		padding: 10px 20px;
	}

	.header {
		padding: 8vh 20px;
	}

	.header p {
		font-size: 24px;
	}

	.header h1 {
		font-size: 48px;
	}

	.header h2 {
		font-size: 20px;
	}

	.project {
		text-align: center;
	}

	.project .title {
		font-size: 38px;
		align-self: center;
	}

	.project a {
		margin: auto;
	}

	/* about page */
	.about-content {
		text-align: center;
		padding-right: 0;
	}

	.about-content h1 {
		font-size: 54px;
		padding-inline: 20px;
		line-height: 65px;
	}

	.about-content h2 {
		line-height: 14px;
	}

	.about-content p {
		line-height: 26px;
	}

	.contact-content {
		text-align: center;
	}
}
